node_modules
.next
.git
.gitignore
.env
.env.*
!.env.local.example
e2e
playwright.config.ts
tests
coverage
*.md
!README.md
tsconfig.tsbuildinfo
vitest.config.ts
vitest.setup.ts
**/*.test.ts
**/*.test.tsx
**/__tests__/
